body{
    background-color: red;
  
}
.contenedor{
    background-color: green;
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 10px solid yellow;
    margin: 5e1px;
    border-radius: 20px;
    font-size: 2rem;
}