.pista {
    width: 50rem;
    border: 2px solid #243447;

}
.corredor{
    border-bottom: 1px dashed #B8C2CC;
    padding: 0.5rem;
    background-color: #f4f7fb;
    height: 3rem;
    font-size: 1.5rem;
    transition: background-color 0.2s, padding-left 0.4s;

    font-family:Georgia, 'Times New Roman', Times, serif;
}
.corredor:hover{
    padding-left: 3rem;
    background-color: #f2a900;
}